<div class="container-sidebar-wrapper">

	<%= render 'layouts/sidebar_user' if !user_signed_in? %>

	<div id="content">
			<div class="row justify-content-center">
				<div class="col-xl-8 col-lg-10 col-md-12" style="margin-top: 8vh; margin-bottom: 8vh">

					<h3>À Propos</h3>
					<br/>

					<div class="card">
					  <div class="card-body">

					  	<p>L'annuaire Matière est une initiative du <b>Micro Laboratoire pour l'Architecture et la Ville</b> (<a href="http://mlav.land">MLAV</a>).
					  	<br><br>
					  	Initié en 2019, il vise un référencement des <b>acteurs</b>, des <b>projets</b> et des <b>références bibliographiques</b> qui s'inscrivent dans une démarche d'économie circulaire, de recyclage, de réemploi, de valorisation des déchets.
					  	<br><br>
					  	Différentes échelles sont représentées : de <b>l'objet collecté, réparé et revendu</b>, à <b>la matière broyée et reformée</b>, jusqu'aux <b>matériaux de construction directement réemployés pour de nouvelles constructions</b>. Toutes ces initiatives méritent d'être représentées et accessibles, pour les rejoindre, s'y associer, les prendre pour exemple, les questionner et <b>construire un nouveau rapport à la matière</b>.
					  	</p>

					  	</div>
					  	<ul class="list-group list-group-flush">
					  		<li class="list-group-item">
					  			<b>Contact</b> : <a href="mailto:contact@mlav.land">contact@mlav.land</a>
					  		</li>
					  	</ul>
					</div>

			</div>
		</div>
	</div>
</div>