/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require leaflet
 */

.second_author, .third_author, .fourth_author, .association_details, .second_structure, .second_class, .third_class, .add_partner, .second_partner {
  display: none;
}

.second_author.active, .third_author.active, .fourth_author.active, .association_details.active, .second_structure.active, .second_class.active, .third_class.active, .add_partner.active, .second_partner.active {
  display: inherit;
}

.container {
  margin-left: 300px !important;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  transition: all 0.3s;
}

.container-sidebar {
  width: 100%;
  padding-right: 15px;
  margin-right: auto;
  min-height: calc(90vh - 120px) !important;
}

.wrapper {
  width: 100%;
  align-items: stretch;
}

#content {
  padding: 0 5vh 5vh 5vh;
  margin-left: 300px;
  transition: all 0.3s;
}

#map-content {
  padding: 0;
  margin-left: 300px;
  transition: all 0.3s;
}

#content.active {
  margin-left: 15px;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    min-height: 100vh;
    padding: 15px;
    top: 0px;
    position: fixed;
    height: 100vh;
    transition: all 0.3s;
    overflow-y: hidden !important;
    margin-left: 0px;
    word-wrap: break-word;
    background: #F8F9FA;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -300px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.pad-left {
  padding-left: 15px;
}

@media (max-width: 990px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        margin-left: 0;
    }
    #map-content {
        margin-left: 0;
    }
}