<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-8" style="margin-bottom: 5vh">

			<h2>Relations parent/enfant entre structures</h2><br>

			<div class="card">
			  <ul class="list-group list-group-flush">
			  	<% @parent_child_relations.each do |parent_child_relation| %>
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<span><%= link_to Structure.find(parent_child_relation.parent_id).name, structure_path(parent_child_relation.parent_id) %> est parent de <%= link_to Structure.find(parent_child_relation.child_id).name, structure_path(parent_child_relation.child_id) %>
						</span>
						<span>
							<% if user_signed_in? && current_user.admin == true %>
							<%= link_to "Supprimer la relation", admin_parent_child_relation_path(parent_child_relation.id), :class => "btn btn-danger btn-sm", data: { confirm: "Êtes-vous sûr(e) ?" }, :method => "delete" %>
							<% end %>
						</span>
					</li>
				<% end %>
			  </ul>
			</div>
			
		</div>
	</div>
</div>