<footer class="footer text-center" style="margin-top: 5vh; margin-bottom: 10px">
    <span class="text-muted small" style="font-size: .7em">L'Annuaire Matière est une initiative de MLAV (Micro Laboratoire pour l'Architecture et la Ville)<br/>
    	<a href="mailto:contact@mlav.land" class="text-dark">Pour toute question ou réclamation, nous contacter ici</a></span>
</footer>